{% extends "landing/base.html" %} {% block content %}
<!-- Navigation -->
<nav id="mainNav" class="navbar static-top navbar-toggleable-md navbar-inverse bg-inverse">

    <a class="navbar-brand" href="{% url 'index' %}" style="margin-right:100px">Project & Budget Monitoring System</a>
    <a class="MenuSizer" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <div class="collapse navbar-collapse">
            <ul class="sidebar-nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link nav-link-collapse collapsed table" data-toggle="collapse" href="#collapseMulti"><i class="fa fa-balance-scale"></i> Budget</a>
                    <ul class="sidebar-second-level collapse" id="collapseMulti">
                        <li>
                            <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">2017/2018</a>
                            <ul class="sidebar-third-level collapse" id="collapseMulti2">
                                <li><a href="{% url 'budgets' %}">Year overview</a></li>
                                <li><a href="{% url 'first' %}">First Quarter</a></li>
                                <li><a href="{% url 'second' %}">Second Quarter</a></li>
                                <li><a href="{% url 'third' %}">Third Quarter</a></li>
                                <li><a href="{% url 'fourth' %}">Fourth Quarter</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects' %}"><i class="fa fa-tasks"></i> Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'compare' %}"><i class="fa fa-pie-chart" aria-hidden="true"></i> Comparative Analytics </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'predict' %}"><i class="fa fa-space-shuttle" aria-hidden="true"></i> Predictive Analytics </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'export' %}"><i class="fa fa-download" aria-hidden="true"></i> View and Export </a>
                </li>
            </ul>
        </div>

</nav>

<div class="content-wrapper py-3">

    <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fa fa-home"></i> Home </a></li>
            <!-- <li class="breadcrumb-item active">Home</li> -->

        </ol>

        <!--Introductory remarks -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-info" aria-hidden="true"></i> About financial year 2017/2018
            </div>
            <div class="card-block">
                <p>Effective FY 2016/17, the Ministry of Information and Communications Technology (ICT) was assigned the responsibility
                    of Government communication. In that regard, the new Ministry of ICT & National Guidance was formed to
                    accommodate Information and National Guidance, the Media Council and Uganda Broadcasting Corporation
                    that were hitherto under Office of the Prime Minister plus the Uganda Media Center which was under the
                    Office of the Prime Minister plus the Uganda Media Center which was under the Office of the President.
                    The President further directed that the Vision Group comes under the supervision of the new Ministry.
                </p>
                <p>Following the merger, the Ministry’s functions have expanded to include;
                    <ul>
                        <li> Dissemination and Monitoring of government communications </li>
                        <li> Promotion of a national ideology </li>
                        <li> Regulation of the Print media </li>
                        <li> Supervision of the National Broadcaster </li>
                        <li> To support and coordinate government communications </li>
                    </ul>
                    The Ministry has therefore increased its scope beyond being a custodian of Information and Communications.

                    <br><br><b>Sector mandate</b><br> To provide strategic leadership and supervision in ICT, Information
                    and National Guidance for sustainable development.
                    <br><br><b>Sector Vision</b><br> A knowledgeable and productive society driven by Information, Communications
                    Technology and National Ideology.
                    <br><br><b>Sector Composition</b><br> The ICT and National Guidance Sector comprises 9 Government institutions
                    namely:
                    <ul>
                        <li>Ministry of ICT & National Guidanc</li>
                        <li>National Information Technology Authority </li>
                        <li>Uganda Communications Commission</li>
                        <li>Uganda Post Limited</li>
                        <li>Uganda Institute of Information and Communications Technology</li>
                        <li>Uganda Broadcasting Corporation </li>
                        <li>The Uganda Media Centre </li>
                        <li>The Media Council </li>
                        <li>The Vision Group </li>
                    </ul>
                    <b>Sector Objectives</b><br> The sector objectives are outcomes are derived from the National Development
                    Plan(NDP) II
                    <ul>
                        <li>Improve the legal and regulatory frameworks to respond to the industry needs</li>
                        <li>Enhance the ICT expertise</li>
                        <li>Promote an informed and ideologically aware citizenry for socio-economic transformation</li>
                        <li>Enhance the secure usage and application of ICT services in business and service delivery</li>
                    </ul>
                </p>
                <b>Sector Objectives</b><br>
                <ul>
                    <li>Responsive ICT legal and regulatory environment</li>
                    <li>Secure ICT access and usage for all</li>
                    <li>Increased employment and growth opportunities</li>
                    <li>Increased Awareness and Citizen Participation in Government programs</li>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /.content-wrapper -->

<a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/tether/tether.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/static/vendor/chart.js/Chart.min.js"></script>
<script src="/static/vendor/datatables/jquery.dataTables.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for this template -->
<script src="/static/js/sb-admin.min.js"></script>

{% endblock %}